@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
body {
    background-color: #69696b;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#body-header {
    padding: 100px;
    color: #1c3f6d;
    text-align: center;
}

.character-forum-description {
    float: right;
}

#character-sheet-body {
    //max-width: 80%;
}

.descriptor-container {
    height: 100%;
    float: right;
    vertical-align: middle;
}

#body-main {}